/**
 * General elements
 */
@import url(figure.css);
@import url(links.css);
@import url(table.css);
@import url(gallery.css);
@import url(figure.css);
@import url(breadcrumb.css);
@import url(forms.css);

html,body{margin:0;padding:0;} /* Common margin & padding for all browsers */
html{overflow-y:scroll;} /* Always display the scrollbar, avoid flipping pages */

/**
 * General elements
 */
body {
  color: #CCCCCC;
  font-family: arial, sans-serif;
  background-color: #171717;
  background-image: url("../img/background3.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

h1 {
    /*border-bottom: 1px solid #CCC;*/
    text-transform: uppercase;
	font-size: 32px;
	color: #999999;
}

h2 {
	font-size: 24px;
	color: #999999;
}

h3 {
	margin-bottom: 15px;
}

img {border:0;} /* No border around linked images */
 
/**
 * Layout of the main page elements 
 */
#wrapper {
  margin: 0 auto;
  width: 100%; 
  padding: 0px; 
}
 
 
/**
 * Layout for header
 */
#header {
  position: relative;
  margin-bottom: 0px; 
  background-image: url("../img/header_black_01.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-bottom:20px;
  
}
 
.sitetitle {
  position: absolute;
  top: 67px;
  left: 125px;
  font-size: 48px;
  color: #999999;
}

.sitetitle2 {
  position: absolute;
  top: 163px;
  left: 150px;
  font-size: 48px;
  color: #999999;
}
 
.siteslogan {
  position: absolute;
  top: 216px;
  left: 55px;
  font-style: italic;
  color: #666;
}

.searchPos {
  position: absolute;
  top: 185px;
  right: 40px;
}
 
 
/**
 * Layout for navbar
 */
 #navbar{
background: #313338; /* Old browsers */
background: -moz-linear-gradient(top,  #313338 0%, #0c0c0c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#313338), color-stop(100%,#0c0c0c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #313338 0%,#0c0c0c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #313338 0%,#0c0c0c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #313338 0%,#0c0c0c 100%); /* IE10+ */
background: linear-gradient(to bottom,  #313338 0%,#0c0c0c 100%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313338', endColorstr='#0c0c0c',GradientType=0 ); /* IE6-9 */

 }
 
 
/**
 * Layout for main
 */
#main {
  min-height: 20em;
  width: 980px;
  margin: 0px auto;
  background-color: rgba(23, 23, 23, 0.91);
  padding: 40px;
}

#main p {

}
 
 
/**
 * Layout for footer -------------------------------------
 */
#footer {
  margin-top: 155px;
  border: 0px solid #1D1D1D;
  padding-top: 35px;
  padding-bottom: 35px;
  font-size: smaller;
  font-style:italic;
  margin-left:0px;
  background: #1D1D1D;
}

 
.sitefooter {
  color: #CCCCCC;
  margin-left:20px;
}

footer.byline {
    clear: both;
	border-top: 1px dashed #999999;
	margin-top:7em;
	padding-top: 0.5em;
	color: #555555;
	font-size: smaller;
	font-style:italic;
}

footer.byline p {
	margin-top:30px;
}

.sitelogo {
	margin-top:25px;
}

/**
 * Positioning
 */
.right {
  float: right;
}

.left {
  float: left;
}

.clear {
	clear: both;
}

/* figure & figcaption
-------------------------------------------------------- 

*/
figure {
	border:0px;
	padding:2px;
	margin-left:1em;
	margin-top:0em;
	margin-right:1em;
	margin-bottom:1em;
	padding-top:0em;
	text-align:center;}
	

figcaption {
	font-style:italic;
	font-size:smaller;
	padding-left:1em;}

/* Other stuff
---------------------------------------------------------
*/

.mgLeft {
	margin-left: 40px;
}

.rows {
	
}


.dbtable {
	width: 100%;
	
}


#info {
	float:right;
	margin-right: 100px;
}

#cover {
	float:left;
	margin-bottom: 40px;
}

#plot {
	clear: both;
}

#price {
	border: 0px solid #CCCCCC;
	padding: 4px 8px 4px 8px;
	margin: 1px 1px 1px 0px;
	border-radius: 4px 4px 4px 4px;
	background: #54903A;
	font-weight: bold;
	display: inline-block;
}

#trailer {
	margin-top: 40px;
	margin-bottom: 50px;
}

.blog {
	margin-top: 45px;
	margin-bottom: 20px;
}

.Row
{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 30px; /*Optional*/
}

.Column
{
    display: table-cell;
	vertical-align: middle;
	border: 0px solid #999999;
}

.Table
{
	
}

.imgCol {
	display: block;
	margin: 0 auto;
	outline: 5px solid #CCCCCC;
}

.news{
	margin-top: 30px;
	margin-bottom: 0px;
}

.justify {
	text-align: justify;
    text-justify: inter-word;
}

iframe {
	width: 560px; 
	height: 315px;
	border: 0px;
}

.error {
cursor: pointer;
background-color:#CCCCCC;
color:#171717;
position:fixed;
    top: 50%;
    left: 50%;
    width:10em;
    height:10em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #171717;
 text-align:center;
}